@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.66;
  font-weight: 200;
  font-family: "Work Sans", sans-serif;
}

.chooseContainer {
  padding: 5.625rem 0 5rem;
  font-size: 1.25vw;
  text-align: center;
  line-height: 1.2;
}

.chooseWrap {
  max-width: 100%;
  padding-left: 5.625em;
  padding-right: 5.625em;
  margin: 0 auto;
}

.contentWrap {
  position: relative;
}

.beforeTitle {
  font-size: 0.875em;

  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 0.625rem;
}

.title {
  font-size: 3.375rem;
  font-family: MillerBanner;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.1875em;
  line-height: 1.4em;
  width: 62%;
  margin: 0 auto 4.375rem;
}

.sliderWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5rem;
  font-size: 1.25vw;
}

.aStyle {
  width: 25%;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.sliderWrap a:nth-child(1):hover {
  transform: translateY(-1.25rem);
  transition: all 1s;
}
.sliderWrap a:nth-child(2):hover {
  transform: translateY(-1.25rem);
  transition: all 1s;
}
.sliderWrap a:nth-child(3):hover {
  transform: translateY(-1.25rem);
  transition: all 1s;
}

.divStyle {
  box-shadow: 0 5px 21px 0 rgba(81, 81, 81, 0.18);
  padding-bottom: 138%;
  background-size: 100% auto;
  background-position: 50% 0;
  margin-bottom: 1.875rem;
  border-radius: 10px;
}

.divStyle:hover {
  animation: autoscroll 12s ease-out infinite;
}

.desc1 {
  font-size: 1.1875rem;
}

@keyframes autoscroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}

@media (max-width: 48em) {
  .chooseContainer {
    padding: 3.75rem 0 3.33rem;
    font-size: 16px;
  }

  .sliderWrap {
    display: block;
  }

  .chooseWrap {
    max-width: 1081px;
    padding: 0 20px;
  }

  .text {
    width: 100%;
    margin-bottom: 4.375rem;
  }
}
