* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

.sector {
  font-family: sans-serif;
  max-width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  transform: none !important;
  padding: 0 !important;
}

.innerSector {
  margin: 0;
  padding: 0;
}

.mediaq {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer {
  position: relative;
  height: 50em;
  background-color: #f6f6f4;
  color: #000;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25vw;
}

.title {
  position: absolute;
  display: flex;
  width: 23.95164em;
  height: 7.33259em;
  top: 5.0718em;
  left: 28.77551em;
  z-index: 8;
  opacity: 1;
  border-radius: 0px;
  object-fit: cover;
  object-position: 50% 50%;
  line-height: 1.15;
  overflow: hidden;
  object-position: 50% 50%;
}

.title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageLeft {
  position: absolute;
  display: flex;
  width: 24.63542em;
  height: 36.95387em;
  top: 3.40513em;
  left: -0.19048em;
  z-index: 1;
  opacity: 1;
  border-radius: 0px;
  /* object-fit: cover; */
  object-position: 50% 50%;
  overflow: hidden;
}

.imageLeft img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageMiddle {
  position: absolute;
  display: flex;
  width: 43.47619em;
  height: 28.0506em;
  top: 22.04762em;
  left: 20.57143em;
  z-index: 2;
  opacity: 1;
  border-radius: 0px;
  object-position: 50% 50%;
  overflow: hidden;
}

.imageMiddle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageRight {
  position: absolute;
  display: flex;
  width: 20.06994em;
  height: 27.95461em;
  height: 27.95461em;
  top: 7.90476em;
  left: 59.95238em;
  z-index: 3;
  opacity: 1;
  border-radius: 0px;
  object-position: 50% 50%;
  overflow: hidden;
}

.imageRight img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .imageLeft {
    width: 17.75em;
    height: 25.47693em;
    top: 18.66667em;
    left: 0em;
    z-index: 1;
    opacity: 1;
    border-radius: 0px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
/*adding this media query below to maincontainer changed it to 
column for mobile screen (the font-size property changed it)*/
@media only screen and (max-width: 767px) {
  .mediaq .mainContainer {
    font-size: 4.2666666666667vw;
    height: 64.125em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

@media only screen and (min-width: 768px) {
  .mediaq {
    font-size: 1.25vw;
    height: 50em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    width: 21.23797em;
    height: 6.57115em;
    height: 6.57115em;
    top: 2.43607em;
    left: -1.90702em;
    z-index: 5;
    opacity: 1;
    border-radius: 0px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media only screen and (max-width: 767px) {
  .imageMiddle {
    width: 21.83333em;
    height: 13.28795em;
    top: 11.57143em;
    left: 1.62909em;
    z-index: 2;
    opacity: 1;
    border-radius: 0px;
    object-fit: cover;
    object-position: 0% 100%;
  }
}

@media only screen and (max-width: 767px) {
  .imageRight {
    width: 16.47768em;
    height: 20.57366em;
    top: 43.63653em;
    left: 6.98475em;
    z-index: 3;
    opacity: 1;
    border-radius: 0px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
